#tagline-page{
    height: 50vh;
    width: 100%;
    color: black;
    background-color: white;
    font-family: "Freight big pro";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4.2vw;
    line-height: 3.5vw;
    font-size: 100;
}

#button-container{
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: -100px;
    margin-bottom: 250px;
}

#Partner{
   
    background-color: #F2F2F2;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

@media(max-width: 767px){
     #tagline-page{
         padding-top:90px;
        height: 40vh;
        font-size: 8vw;
        line-height: 7vw;
     }

     #button-container{
      margin-top: -35px;
      margin-bottom: 100px;
     }
}

@media(min-width:767px ) and (max-width:1024px){
     #tagline-page{
        font-size: 6vw;
        line-height: 5vw;
     }

     #button-container{
      margin-top: -300px;
     }
}